<form {{action 'save' on='submit'}}>
  clave {{input type='text' value=materia.clave}}
  nombre {{input type='text' value=materia.nombre}}
  <!-- {{#link-to 'nuevo-grupo'}} <button>Añadir grupo</button> {{/link-to}} -->
  <button type="button" {{action "saveGrupo"}}>Añadir grupo</button>
  <table class="table table-hover table-sm table-bordered table-info">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Identificador</th>
        <th scope="col">Periodo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
       {{#each materia.grupos as |g|}}
        <tr>
          <th>{{input type='text' value=g.identificador}}</th>
          <td>{{input type='text' value=g.periodo}}</td>
          <td>
            {{#link-to "grupo-detail" g.id}}
            <button class="btn btn-success btn-sm">Detalles</button>
            {{/link-to}}
            <button  class="btn btn-danger btn-sm" {{action 'destroyGrupo'}}>Borrar</button>
            <!--NOTA: Borrar igual que materia para grupos-->
          </td>
        </tr>
       {{/each}}
    </tbody>
  </table>

  <button>Guardar</button>
    <hr>
</form>
